.layout {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.layout__wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.layout__navigation {
  position: absolute;
  top: 120px;
  left: 0;
  translate: calc(-100% - 60px);

  width: 320px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

